

body {
    background-color: #c5d9ed;
    background-size: 100%;
}

h1 {
    text-align:center;
    margin: auto;

}

#board {
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    height: 230px;
    margin: 0 auto;
    border: 10px solid lightslategray;
    background-color: white;
}
#board div {
    width: 42px;
    height: 42px; 
    border: 2px solid rgb(122, 117, 117);


    
}
