

body {
    background-color: #c5d9ed;
    background-size: 100%;
}

h1 {
    text-align:center;
    margin: auto;
    width: 50%;
    padding: 2%;
}

#board {
    display: grid;
    width: 300px;
    height: 300px;
    margin: auto;
    border: 10px solid lightslategray;
}
#board div {
    width: 40px;
    height" 40px; 
    border: 2px solid lightslategray;

}

